doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        block title
            title Better Reddit
        script(src='https://www.google.com/recaptcha/api.js')
    body
        header(class='header-login-signup')
           div(class='header-limiter') 
                nav 
                    a(href='/') Home
                    a(href='/subreddits') Subreddits
                if loggedInUser
                    ul
                        li Welcome #{loggedInUser.username}
                        li
                            a(href="/auth/logout") Logout
                else
                    ul
                        li
                            a(href="/auth/signup") Signup
                        li
                            a(href="/auth/login") Login
        main
            block content
        footer &copy; 2017 blah