extends layout.pug

block content
    div.post-wrapper
        ul.post-lis
            li.post    
                h2 Login
    div.post-wrapper
        ul.post-lis
            li.post    
                form(action="/auth/login", method="POST")
                        p Username :  
                            input(type="text" name="username" placeholder="Username" required)
                        p Password :  
                            input(type="password" name="password" placeholder="Password" required)
                        p
                            button(type="submit").hotTop Login!
                        P 
                            a(href="/auth/recover" class="hotTop forgot-password") FORGOT PASSWORD? CLICK ME
                
