extends layout.pug


block content
    div.post-wrapper
        ul.post-lis
            li.post    
                h2 Please select a new password
    div.post-wrapper
        ul.post-lis
            li.post    
                form(action="/auth/resetPassword", method="POST")
                        p  New Password :  
                            input(type="text" name="password" placeholder="Password" required)
                        p  Enter Again :  
                            input(type="text" name="re-password" placeholder="Password" required)
                        
                            input(type="hidden" name="token" value=token)
                        
                        p
                            button(type="submit").hotTop Reset Password